*.iml
*.apk
*.aab
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
functions
cupofcoffee-82419-firebase-adminsdk-f8vuv-437e179d8f.json
scripts
firebase.json
cupofcoffee0801-firebase-adminsdk-fkond-c0e7b14be7.json
cupofcoffee0801-2a64f-firebase-adminsdk-sv0q8-3b4eff9d6b.json
